.header-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 30px ;
    box-sizing: border-box;
    width: 100%;
}

.h2 {
    margin: 0;
    padding: 4px;
}

.header-container nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header-container nav a {
    text-decoration: none;
}

.profile-image{
    width: 30px;
    overflow: hidden;
    cursor: pointer;
}

.profile-section {
    position: relative;
}